* {
	color: #fff;
	font-family: "Times New Roman", Times, serif;
}
table, th, td {
	color: #fff;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {
	color: #fff;
}
img {
	filter: grayscale(100%);
}